# @package _global_

# Training config with MERT encoder and augmented multi-anchor data
# Experiment 22: MERT + multi-anchor MUSDB data (augmented no-error class)

defaults:
  - data: 08_musdb_expanded_augmented_variations
  - model: qwen2_7b_mert_musdb_expanded
  - training: 11_training
  - experiment_tracking: wandb
  - experiment_naming: experiment_naming
  - _self_

model:
  config_name: "qwen2_7b_mert_musdb_expanded_augmented_reduced"
  projection:
    dropout: 0.2
    

data:
  train_jsonl_path: data/musdb18hq_processed/train/training_samples_augmented_variations_filtered_reduced.jsonl
  train_audio_root: data/musdb18hq_processed/train/flawed_mixes
  test_jsonl_path: data/musdb18hq_processed/test/test_samples_variations_reduced.jsonl

# Environment settings
env:
  seed: 42
  project_name: "automatic-mixing-milestone-0"
  output_dir: "outputs/${now:%Y-%m-%d}/${now:%H-%M-%S}"

# Experiment tracking settings
experiment_tracking:
  use_wandb: false
  use_mlflow: false

hydra:
  run:
    dir: ${env.output_dir}

training:
  resume:
    enabled: true
    weight_only: true  # Set to true for weight-only resume (loads weights but starts fresh training)
    checkpoint_path: "outputs/checkpoints/mixing_buddy_milestone_0/qlora-qwen2-7b-mert-musdb-expanded-r16a32-musdb/checkpoint-4200"
    # checkpoint_path: "outputs/checkpoints/mixing_buddy_milestone_0/qlora-qwen2-7b-mert-musdb-expanded-r16a32-musdb/checkpoint-3400"
